// colors palette
$color-yellow: #ffff00;
$color-white: #FFFFFF;
$color-black: #000;

// Fonts
$font-1: 'Raleway', sans-serif; // Timeline
$font-2: 'Poiret One', cursive; // Projects


// header height 
$header-S: 50px;
$header-M: 70px;

// intro height
$intro-height-S: 310px;
$intro-height-M: 500px;
$intro-height-L: 680px;